@charset "UTF-8";
a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

.sp-none {
  display: none;
}
@media (min-width: 600px) {
  .sp-none {
    display: block;
  }
}

.pc-none {
  display: block;
}
@media (min-width: 1px) {
  .pc-none {
    display: none;
  }
}

.header__inner {
  padding: 16px 20px;
  display: flex;
}

.header-logo {
  display: flex;
  align-items: center;
}
@media (min-width: 600px) {
  .header-logo {
    margin-right: auto;
  }
}
.header-logo img {
  align-items: center;
}

.drawer-menu_btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  background: transparent;
  border: none;
  justify-content: flex-end;
  position: relative;
  bottom: 3px;
  left: 84px;
}
.drawer-menu_btn span {
  display: block;
  width: 32px;
  height: 3px;
  background: #4A3636;
  margin: 5px 0;
  transition: transform 0.3s ease-in-out;
  border-radius: 20%;
}
.drawer-menu_btn.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.drawer-menu_btn.open span:nth-child(2) {
  opacity: 0;
}
.drawer-menu_btn.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
@media (min-width: 600px) {
  .drawer-menu_btn {
    display: none;
  }
}

@media (min-width: 600px) {
  .header-lists {
    display: flex;
    gap: 12px;
    align-items: center;
  }
}

.header-btn {
  display: flex;
  height: 36px;
  padding: 6px 24px 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 2px solid var(--LP-Blown, );
  background: var(--LP-White, #FFF);
  box-shadow: 0px 4px 0px 0px;
}

.fv {
  background-image: url(/image/Onomichi_02\ 2.png) !important;
  background-size: contain;
  background-color: #E9F6F8;
  width: 100%;
  height: 710px;
}

.fv-text {
  color: #4A3636;
  text-align: center;
  text-shadow: 0px 0px 30px #FFF;
  font-family: "Kiwi Maru";
  font-size: 14px;
  font-weight: 400;
  line-height: 125%; /* 17.5px */
  padding-top: 17px;
  padding-bottom: 20px;
}

.fv-title {
  margin: 0 auto;
  text-align: center;
}
.fv-title1_image {
  padding: 0 20px 12px;
}
.fv-title2_image {
  padding-bottom: 10px;
}
.fv-image_wrpper {
  display: flex;
  flex-wrap: wrap;
}
.fv-image_wrpper img {
  width: 100%;
}

.fv-image_wrpper {
  margin-left: 20px;
}
.fv-image_wrpper img {
  width: 100%;
}

.fv-image_present {
  margin: 0 45px 0 auto;
}
.fv-image_present img {
  width: 100%;
}

.fv-image_smartphone {
  text-align: center;
  margin: 0 auto;
  margin-top: -27px;
  padding-bottom: 11px;
}
.fv-image_smartphone img {
  width: 100%;
}

.food-image {
  padding-left: 20px;
}

.fv-cat_images {
  text-align: right;
  padding-right: 20px;
}

.black-cat_image img {
  width: 100%;
}

.blown-cat_image img {
  width: 100%;
}

.about__ineer {
  background-color: #E9F6F8;
}

.about-card {
  border-radius: 24px;
  background: var(--LP-White, #FFF);
  border: 1px solid red;
  border-radius: 24px;
  padding: 0 20px;
  margin: 32px 20px 0 20px;
}

.about-head_imaage {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.about-head_imaage img:nth-child(1) {
  width: 100px;
  height: auto;
}
.about-head_imaage img:nth-child(3) {
  width: 100px;
  height: auto;
}

.about-text_wrpper {
  color: #4A3636;
  text-align: center;
  line-height: 160%;
}

.about-title {
  font-family: Courgette;
  font-size: 16px;
  font-weight: 400;
  line-height: 125%; /* 20px */
}

.about-subutitle {
  font-family: "Kiwi Maru";
  font-size: 20px;
  font-weight: 500;
  line-height: 125%; /* 25px */
  padding-bottom: 12px;
  position: relative; /* 親要素に relative を追加 */
}
.about-subutitle::after {
  content: "";
  position: absolute; /* 絶対配置にする */
  left: 50%; /* 中央揃え */
  bottom: 0; /* テキストの真下に配置 */
  transform: translateX(-50%); /* 水平中央調整 */
  width: 190px; /* 下線の長さを調整 */
  height: 6px; /* 下線の太さ */
  background-color: #FFEE56;
}

.about-heading {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 24px;
  padding-top: 24px;
}

.about-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 160%; /* 19.2px */
  padding-bottom: 24px;
}

.about-text2 {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 8px;
  position: relative;
  text-align: center;
}
.about-text2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 80%;
  height: 2px;
  border-bottom: 2px dashed #E9F6F8;
}

.about-btn {
  font-feature-settings: "pref" on;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%; /* 25.6px */
  border-radius: 40px;
  border: 2px solid #4A3636;
  box-shadow: 0px 4px 0px 0px #4A3636;
  padding: 6px 24px;
  margin-bottom: 40px;
  margin-top: 24px;
}/*# sourceMappingURL=style.css.map */