// ブレークポイント用のmixin（min-width / max-width 両対応）
@mixin mq($breakpoint, $direction: min) {
    @if $direction == min {
      @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
        @content;
      }
    } @else if $direction == max {
      @media (max-width: #{map-get($breakpoints, $breakpoint)}) {
        @content;
      }
    }
  }
  
  // ブレークポイントの定義
  $breakpoints: (
    sm: 1px,  // スマホ用（599px以下）
    md: 600px,  // タブレット用（600px以上1024px以下）
    lg: 1025px  // PC用（1025px以上）
  );
//   body{
//     color: red;
//     @include mq(md) {
//       color: blue;
//     }
//     @include mq(lg) {
//       color: green;
//     }
//   }

$blown:  #4A3636;
$light-blue:  #E9F6F8;


  a{
    text-decoration: none;
    color: #333;
  }
  li{
    list-style: none;
  }
  .sp-none{
    display: none;
    @include mq(md) {
      display: block;
    }
  }
  .pc-none{
    display: block;
    @include mq(sm) {
      display: none;
    }
  }
//   header

  .header{

  }
  .header__inner{
    padding: 16px 20px;
    display: flex;
  }
  .header-logo{
    display: flex;
    align-items: center;
    
    @include mq(md) {
      margin-right: auto;
    }
    img{
        align-items: center;
    }
  }
  .drawer-menu_btn {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    background: transparent;
    border: none;
    justify-content: flex-end;
    position: relative;
    bottom: 3px;
    left: 84px;
  
    span {
      display: block;
      width: 32px;
      height: 3px;
      background: $blown;
      margin: 5px 0;
      transition: transform 0.3s ease-in-out;
      border-radius: 20%;
    }
  
    &.open {
      span {
        &:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }
    @include mq(md) {
      display: none;
    }
  }
  .header-nav{


  }
  .header-lists{
    @include mq(md) {
      display: flex;
      gap: 12px;
      align-items: center;

    }

  }
  .header-list{

  }
  .header-btn{
    display: flex;
    height: 36px;
    padding: 6px 24px 8px 24px;
    justify-content: center;
    align-items: center;

    border-radius: 40px;
    border: 2px solid var(--LP-Blown, );
    background: var(--LP-White, #FFF);
    box-shadow: 0px 4px 0px 0px ;
  }

// fv
.fv{
  background-image: url(/image/Onomichi_02\ 2.png) !important;
  background-size: contain;
  background-color:  $light-blue;
}
.fv__inner{

}
.fv-text_wapper{
  
}
.fv-text{
  color: $blown;
  text-align: center;
  text-shadow: 0px 0px 30px #FFF;
  font-family: "Kiwi Maru";
  font-size: 14px;
  font-weight: 400;
  line-height: 125%; /* 17.5px */
  padding-top: 17px;
  padding-bottom: 20px;
}
.fv-title{
  margin: 0 auto;
  text-align: center;
  img{

  }
}
.fv-title1_image{
  padding: 0 20px 12px;
  img{

  }
}
.fv-title2_image{
  padding-bottom: 10px;
  img{

  }
}
.fv-image_wrpper{
  display: flex;
  flex-wrap: wrap;
  img{

  }
}
.fv-image_wrpper{
  margin-left: 20px;
  img{
    width: 100%;
  }
}
.fv-image_present{
  margin: 0 45px 0 auto;
  img{
    width: 100%;
  }
}
.fv-image_smartphone{
  text-align: center;
  margin: 0 auto;
  margin-top: -15px;
  padding-bottom: 11px;
  img{
    width: 100%;
  }
}